<body>
    <main class="container">
        <form id="app" data-apartments='[]' action='/productForm' method="POST">
            <hr>
            <div class="row">

            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Index</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cos</th>

                        <th> <button type="button" v-on:click="addNewApartment" class="btn btn-block btn-success">
                                Dodaj
                            </button></th>

                    </tr>
                </thead>

                <tbody v-for="(apartment, index) in apartments">
                    <tr class="table-light">

                        <th scope="row"><input v-model="apartment.price" type="number" name="apartments[][price]"
                                class="form-control" placeholder=></th>

                        <td><input v-model="apartment.rooms" type="number" name="apartments[][rooms]"
                                class="form-control" value=<%-Date.now()%>></td>
                        <td><input v-model="apartment.cos" type="number" name="apartments[][cos]" class="form-control"
                                placeholder="Cos"></td>
                        <td><button type="button" v-on:click="removeApartment(index)"
                                class="btn btn-block btn-danger">Usuń</button></td>

                </tbody>
            </table>


            <div class="row">
                <div class="col-xs-2">
                    <button type="submit" v-on:click.prevent="sumbitForm" class="btn btn-block btn-primary">
                        Submit
                    </button>
                </div>
                <div class="col-xs-10">

                </div>
            </div>
            <hr>
            <pre>{{ $data }}</pre>
        </form>
    </main>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js'>
    </script>
    <script
        src="https://raw.githubusercontent.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js. ">
    </script>





    <script>
        window.app = new Vue({
            el: '#app',
            data: {

                apartments: [],
            },
            mounted: function () {
                /*
                 * The "data-apartments" could come from serverside (already saved apartments)
                 */
                this.apartments = JSON.parse(this.$el.dataset.apartments)
            },

            methods: {
                addNewApartment: function () {
                    this.apartments.push(Vue.util.extend({}, this.apartment))
                    console.info(this.apartments)
                },
                removeApartment: function (index) {
                    Vue.delete(this.apartments, index);
                },
                sumbitForm: function () {

                    db.products.update(this.apartments)

                    console.info('<< Form Submitted >>')
                    console.info('Vue.js apartments object:', this.apartments)
                    window.testSumbit()
                }
            }
        })

        /*
         * This is not Vue.js code, just a bit of jQuery to test what data would be submitted.
         */
        window.testSumbit = function () {
            if (!window.jQuery) {
                console.warn('jQuery not present!')
                return false
            }
            console.info(jQuery('form').serializeJSON())
        }
    </script>
</body>