<form action="/products" method="GET">
    <div class="row">
        <div class="col-lg-4 ">
            <div class="bs-component">
                <div class="card border-primary mb-2">
                    <h5 class=" card-header">Index</h5>
                    <div class="card-body">
                        <input type="text" name="index" value="<%= searchOptions.index %>">
                        <button type="submit" class="btn btn-primary btn-sm">Wyszukaj </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>